table {
  border-collapse: collapse;
  font-size: 16px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
td,
th {
  border: 1px solid #0f5782;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
h1 {
  font-size: 40px;
}
/* Box Colors */
.orange {
  background-color: #ff9966;
}
.lightBlue {
  background-color: #90c7ff;
}
.lightYellow {
  background-color: #fff28e;
}
.lightGreen {
  background-color: #cdeb8b;
}
.goldFoil {
  background-color: #c79810;
}
.cookiesAndCream {
  background-color: #ebdca9;
}
.lavenderWeb {
  background-color: #e6e6fa;
}
.pink {
  background-color: #dda0dd;
}
.lavenderBlush {
  background-color: #fceff0;
}
.white {
  background-color: white;
}
/* Font Colors */
.fGreen {
  color: #008000;
}
.fBlue {
  color: #0000fe;
}
.fUERed {
  color: #c00000;
}
#topHeadingTD {
  border: none;
  background-color: #ffff00;
}
.no_border_TD {
  border: none;
}
.small_font_size {
  font-size: 12px;
  padding: 4px;
}
